<web-app>
<display-name>HtmlJspDBApp</display-name>
<servlet>
<servlet-name>DB</servlet-name>
<jsp-file>/WEB-INF/pages/employee_process.jsp</jsp-file>
<init-param>
<param-name>url</param-name>
<param-value>jdbc:mysql:///student</param-value>
</init-param>
<init-param>
<param-name>user</param-name>
<param-value>root</param-value>
</init-param>
<init-param>
<param-name>password</param-name>
<param-value>root123</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>DB</servlet-name>
<url-pattern>/employeeurl</url-pattern>
</servlet-mapping>
</web-app>